@use "vars" as *;


.c-fc{ //font-color
	&--white{
		color: white !important;
	}
	&--black{
		color: black !important;
	}
}

.c-bg{
	&--blue{
		background: $blue !important;
	}
	&--white{
		background: white !important;
	}
	&--dark{
		background: $dark !important;
	}
}


.c-ft{//font-family
	&--en{
		font-family: $font-en;
	}
	&--jp{
		font-family: $font-jp;
	}
}









.c-al{
	&--c{
		text-align: center !important;
	}
	
	&--r{
		text-align: right !important
	}
	
	&--l{
		text-align: left !important;
	}
}











/* ====================================================
Component
==================================================== */
// Common Text style
.c-txt{
	&__basic{
		@include fts(16,25.6);
		font-weight: 300;
	}
}




//ttl
.c-ttl{
	&__01{
		display: block;
		text-align: center;
		color: $blue;
		font-family: $font-en;
		@include font-size(40);
		font-weight: 600;
		line-height: 1.4;
		position: relative;
		margin-bottom: 52px;
		.icon{
			display: block;
			margin-bottom: 10px;
		}
	}
	&__02{
		display: block;
		color: $blue;
		@include font-size(27);
		font-weight: 600;
		overflow: hidden;
		span{
			display: inline-block;
			position: relative;
			letter-spacing: 5.5px;
			padding: 0 10px 0 0;
			margin-bottom: 69px;
			&:after{
				content: "";
				width: 2000px;
				height: 2px;
				background: $blue;
				position: absolute;
				@include v-align;
				left: 100%;
			}
		}
	}
}

//btn
.c-btn{
	&__01{

	}
}


//fade up
.js-scrollin {
	opacity: 0;
	-webkit-transform: translate(0, 70px);
	-ms-transform: translate(0, 70px);
	transform: translate(0, 70px);
	&.active{
		opacity: 1;
		-webkit-transform: translate(0, 0);
		-ms-transform: translate(0, 0);
		transform: translate(0, 0);
		-webkit-transition: 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
		-o-transition: 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
		transition: 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	}
}



