@use "vars" as *;

#footer{
	background: $blue;
	color: white;
	padding: 43px 0 0;
	text-align: left;
	.inner{
		position: relative;
	}
	a{
		color: white;
	}
	.box-mail{
		position: absolute;
		bottom: 69px;
		right: 15px;
	}
	.footer-block{
		position: relative;
		max-width: 858px;
	}
	.footer-logo{
		display: block;
		max-width: 277px;
		margin-bottom: 33px;
	}
	.footer-sns{
		@include flex(0,center,wrap);
		margin-bottom: 23px;
		li{
			margin-right: 16px;
			&:last-child{
				margin-right: 0;
			}
		}
	}
	.footer-menu{
		@include flex(0,0,wrap);
		li{
			margin: 0 42px 20px 0;
			a{
				display: block;
				@include font-size(16);
				font-weight: 500;
			}
		}
	}
	.copyright{
		text-align: center;
		background: #002962;
		@include font-size(12);
		font-weight: 500;
		padding: 15px;
	}
}