@use "vars" as *;

.main-page{
	padding-top: 70px;
	background: white;
}

.top-mv{
	padding: 20px 25px 0;
	.mv-all{
		height: calc(100vh - 90px);
		background: url("../img/mv.jpg")no-repeat;
		background-size: cover;
		position: relative;
		@include flex(0,center,wrap);
		padding-bottom: 180px;

	}
	.mv-bottom{
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 32px 20px;
		background: rgba(white,0.7);
		backdrop-filter: blur(20px);
	}
	.mv-block{
		max-width: 1030px;
		margin: 0 auto;
		&__ttl{
			display: block;
			position: relative;
			text-align: center;
			@include font-size(20);
			line-height: 1.2;
			font-weight: 600;
			margin-bottom: 10px;
			&:after{
				content: "";
				position: absolute;
				@include v-align;
				left: 0;
				right: 0;
				height: 3px;
				background: $blue;
			}
			span{
				display: inline-block;
				background: $blue;
				color: white;
				position: relative;
				z-index: 1;
				border-radius: 20px;
				padding: 6px 55px;
			}
		}
	}
	.mv-heading{
		font-weight: 500;
		@include font-size(30);
		letter-spacing: 1px;
		img{
			margin-bottom: 40px;
		}
		small{
			@include font-size(25);
		}
		h1{
			font-weight: 500;
		}
		&--note{
			display: inline-block;
			background: $blue;
			color: white;
			line-height: 1.2;
			border-radius: 5px;
			margin: 0 0 0 9px;
			padding: 7px 13px;
		}
	}
}

.business-heading{
	padding: 134px 0 68px;
	background: url(../img/business-bg.png) no-repeat;
	background-size: cover;
	background-position: bottom center;
}
.business-note{
	@include fts(20,40);
	text-align: center;
	font-weight: 300;
	letter-spacing: 2px;
	margin-bottom: 33px;
	p{
		margin-bottom: 41px;
		&:last-child{
			margin-bottom: 0;
		}
	}
}
.business-block{
	@include flex(between,0,wrap);
	max-width: 917px;
	margin: 0 auto;
	&__item{
		&--01{
			width: calc(44% - 10px);
			padding: 33px 0 0;
		}
		&--02{
			width: calc(56% - 10px);
		}
		&--03{
			width: 100%;
			text-align: center;
			@include font-size(16);
			padding: 36px 0 0;
			letter-spacing: 1.5px;
			a{
				text-decoration: underline;
				color: #333;
			}
		}
	}
}

.business-about{
	background: white;
	padding: 90px 0 0;
}

.business-list{
	@include flex(center,0,wrap);
	margin: 0 -25px 100px;
	&__item{
		width: 33.333%;
		padding: 0 25px;
		margin-bottom: 70px;
	}
	&__box{
		display: block;
	}
	&__img{
		margin-bottom: 19px;
	}
	&__ct{
		&-ttl{
			display: block;
			text-align: center;
			border-top: 2px solid $blue;
			border-bottom: 2px solid $blue;
			color: $blue;
			@include font-size(25);
			line-height: 1.4;
			font-weight: 600;
			padding: 6px 0;
			margin-bottom: 17px;
		}
	}
}

.top-customer{
	background: $blue;
	padding: 118px 10px;
	color: white;
}

.customer-list{
	@include flex(0,0,wrap);
	&__item{
		width: 33.333%;
		padding: 0 10px;
	}
	&__box{
		display: block;
	}
	&__img{
		position: relative;
		img{
			width: 100%;
		}
	}
	&__ct{
		&-ttl{
			display: block;
			@include fts(20,32);
			font-weight: 600;
			border-bottom: 1px solid white;
			padding: 19px 0;
			&:last-child{
				border-bottom: none;
			}
		}
		p{
			padding: 19px 0;
			border-bottom: 1px solid white;
			&:last-child{
				border-bottom: none;
			}
		}
	}
}

.top-comparison{
	background: #E4E8EE;
	padding: 138px 0;
}

.comparison-block{
	@include flex(between,center,wrap);
	margin-bottom: 110px;
	&--left{
		width: calc(43.5% - 74px);
		position: relative;
		background: white;
		border-radius: 4px 4px 12px 12px;
		&:after{
			content: "";
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 15px 0 15px 30px;
			border-color: transparent transparent transparent white;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: calc(100% - 1px);
		}
	}
	&--right{
		width: 56.5%;
		background: white;
		border-radius: 4px 4px 12px 12px;
	}
	&__ttl{
		@include flex(center,center);
		padding: 10px;
		text-align: center;
		color: white;
		@include font-size(25);
		line-height: 1.3;
		font-weight: 600;
		min-height: 90px;
		letter-spacing: 2px;
		&.c-bg--blue{
			letter-spacing: 4px;
		}
	}
}
.comparison-list{
	background: white;
	padding: 25px;
	li{
		position: relative;
		@include fts(25,30);
		font-weight: 600;
		border: 1px solid #333;
		min-height: 83px;
		@include flex(0,center,wrap);
		border-radius: 6px;
		padding: 0 25px 0 55px;
		letter-spacing: 1px;
		margin-bottom: 13px;

		&:last-child{
			margin-bottom: 0;
		}
		&:before{
			content: "";
			width: 25px;
			height: 25px;
			background: url("../img/item-01.svg")no-repeat;
			background-size: 100%;
			position: absolute;
			@include v-align;
			left: 20px;
		}
	}
	&--blue{
		color: $blue;
		li{
			border: 1px solid $blue;
			border-radius: 6px;
			&:before{
				background: url("../img/item-02.svg")no-repeat;
				background-size: 100%;
			}
		}
	}
}

.comparison-table{
	table{
		width: 100%;
		text-align: center;
		@include fts(16,22.4);
		background: white;
		tr{
			background: none !important;
			border-bottom: 1px dashed #aaa !important;
			&:last-child{
				border-bottom: none;
			}
			th,td{
				width: 16.6665%;
				text-align: center;
				&:nth-child(2){
					width: 33.333%;
				}
			}
			th{
				background: rgba($dark,0.7);
				color: white;
				@include font-size(18);
				font-weight: bold;
				border-right: 1px solid #ccc;
				padding: 17px 5px;
				small{
					display: block;
					@include font-size(14);
					font-weight: 400;
				}
				&:nth-child(2){
					background: blue;
				}
			}
			td{
				border-right: 1px solid #ccc;
				padding: 21px 5px;
				&:nth-child(1){
					background: rgba($dark,0.1);
					font-weight: 600;
					text-align: center;
				}
				&:nth-child(2){
					color: $blue;
					font-weight: 600;
					background: #EAF4FF;
				}
			}
		}
	}
}

.top-service{
	background: white;
	padding: 110px 0;
}

.service-list{
	max-width: 920px;
	margin: 0 auto;
	&__item{
		margin-bottom: 40px;
	}
	&__box{
		@include flex(0,0,wrap);
		background: white;
		border-radius: 10px;
		overflow: hidden;
		min-height: 160px;
		box-shadow: 0 4px 20px 0 rgba(black,0.1);
		color: $dark;
	}
	&__img{
		width: 36%;
		position: relative;
		img{
			width: 100%;
			height: 100%;
			@include ob;
		}
	}
	&__ct{
		width: 64%;
		letter-spacing: 1px;
		padding: 15px 23px;
		&-step{
			display: inline-block;
			background: $blue;
			color: white;
			line-height: 1;
			@include font-size(20);
			font-weight: 500;
			font-family: $font-en;
			letter-spacing: 2px;
			padding: 6px 17px 6px 8px;
			border-radius: 0 20px 20px 0;
			margin-bottom: 15px;
		}
		&-ttl{
			display: block;
			@include font-size(20);
			font-weight: 600;
			margin-bottom: 15px;

		}
		p{
			margin-bottom: 24px;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
}

.top-question{
	background: white;
	padding: 18px 0 200px;
	.c-ttl__01{
		letter-spacing: 3px;
	}
}

.question-list{
	max-width: 920px;
	margin: 0 auto;
	border: 5px solid $blue;
	padding: 69px 8%;
	dl{
		padding: 0 0 0 43px;
		margin-bottom: 64px;
		&:last-child{
			margin-bottom: 0;
		}
		dt{
			color: $blue;
			@include font-size(20);
			font-weight: 600;
			background: #E0E8F0;
			border-radius: 10px;
			position: relative;
			padding: 7px 15px 8px 33px;
			letter-spacing: 1px;
			margin-bottom: 29px;
			&:before{
				content: "";
				width: 61px;
				height: 64px;
				background: url("../img/Q.svg")no-repeat;
				background-size: 100%;
				position: absolute;
				top: -19px;
				left: -40px;
			}
		}
		dd{
			letter-spacing: 1px;
			padding: 0 54px 0 32px;
			&:before{
				content: "";
				width: 44px;
				height: 48px;
				background: url(../img/A.svg) no-repeat;
				background-size: 100%;
				position: absolute;
				top: -8px;
				left: -24px;
			}
		}
	}
}

.top-contact{
	padding: 110px 0 87px;
	background: url(../img/contact-bg.jpg) no-repeat;
	background-size: cover;
	text-align: center;
	.contact-logo{
		display: block;
		margin: 0 auto 40px;
	}
	.box-mail{
		width: 268px;
		height: 58px;
		margin: 0 auto;
		font-size: 20px;
		border-radius: 30px;
		padding: 0 25px;
		letter-spacing: 4px;
		img{
			width: 24px;
			margin: 0 19px 0 0;
		}
	}
}
