<div id="header">
	<a href="<%= RELATIVE_PATH %>" class="header-logo">
		<img src="<%= RELATIVE_PATH %>img/logo.svg" alt="Concepts Japan">
	</a>
	<a href="" class="header-mail">
		<img src="<%= RELATIVE_PATH %>img/icon-mail.svg" alt="お問い合わせ">
		<span>お問い合わせ</span>
	</a>
	<nav class="header-nav">
		<ul class="header-nav__menu">
			<li class="header-nav__menu-item">
				<a href="">
						<span class="c-ft--en">
							IT Concepts Japan for Business
						</span>
					<span class="c-ft--jp">とは</span>
				</a>
			</li>
			<li class="header-nav__menu-item">
				<a href="">特徴</a>
			</li>
			<li class="header-nav__menu-item">
				<a href="">お客様の声</a>
			</li>
			<li class="header-nav__menu-item">
				<a href="">導入実績</a>
			</li>
			<li class="header-nav__menu-item">
				<a href="">よくある質問</a>
			</li>
		</ul>
	</nav>
	<span class="js-mobile">
		<span></span>
	</span>
</div>