<div id="header">
	<a href="/" class="header-logo">
		<img src="<%= RELATIVE_PATH %>img/logo.svg" alt="Concepts Japan">
	</a>
	<a href="" class="box-mail">
		<img src="<%= RELATIVE_PATH %>img/icon-mail.svg" alt="お問い合わせ">
		<span>お問い合わせ</span>
	</a>
	<nav class="header-nav">
		<ul class="header-nav__menu">
			<li class="header-nav__menu-item">
				<a href="#business" class="js-scroll">
						<span class="c-ft--en">
							IT Concepts Japan for Business
						</span>
					<span class="c-ft--jp">とは</span>
				</a>
			</li>
			<li class="header-nav__menu-item">
				<a href="#about" class="js-scroll">特徴</a>
			</li>
			<li class="header-nav__menu-item">
				<a href="#customer" class="js-scroll">お客様の声</a>
			</li>
			<li class="header-nav__menu-item">
				<a href="#comparison" class="js-scroll">導入実績</a>
			</li>
			<li class="header-nav__menu-item">
				<a href="#question" class="js-scroll">よくある質問</a>
			</li>
		</ul>
	</nav>
	<span class="js-mobile">
		<span></span>
	</span>
</div>